<div class="list row">
  <div class="col-md-12">
    <h4>Bensin</h4>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Jumlah Liter </th>
          <th scope="col">Pertalite</th>
          <th scope="col">Premium</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bensin of bensins; let i = index">
          <td>{{ bensin.jumlah_liter }}</td>
          <td>{{ bensin.premium }}</td>
          <td>{{ bensin.pertalite }}</td>
          <td>
            <a
              class="badge badge-warning"
              routerLink="/bensins/{{ bensin.id }}"
            >
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
